clipboard_health/nursing_homes_including_rehab_services_current_data/Swing_Bed_SNF_data_Nov2024.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/Skilled_Nursing_Facility_Quality_Reporting_Program_Provider_Data_Nov2024.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/Skilled_Nursing_Facility_Quality_Reporting_Program_National_Data_Nov2024.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/readme.txt
clipboard_health/Clipboard_Health.ipynb
clipboard_health/.DS_Store
clipboard_health/nursing_homes_including_rehab_services_04_2024/FY_2024_SNF_VBP_Aggregate_Performance.csv
clipboard_health/nursing_homes_including_rehab_services_04_2024/FY_2024_SNF_VBP_Facility_Performance.csv
clipboard_health/nursing_homes_including_rehab_services_04_2024/NH_CitationDescriptions_Apr2024.csv
clipboard_health/nursing_homes_including_rehab_services_04_2024/NH_CovidVaxAverages_20240414.csv
.gitignore
clipboard_health/nursing_homes_including_rehab_services_04_2024/NH_CovidVaxProvider_20240414.csv
clipboard_health/nursing_homes_including_rehab_services_04_2024/NH_Data_Dictionary.pdf
clipboard_health/nursing_homes_including_rehab_services_04_2024/NH_DataCollectionIntervals_Apr2024.csv
clipboard_health/nursing_homes_including_rehab_services_04_2024/NH_FireSafetyCitations_Apr2024.csv
clipboard_health/nursing_homes_including_rehab_services_04_2024/NH_HealthCitations_Apr2024.csv
clipboard_health/nursing_homes_including_rehab_services_04_2024/NH_HlthInspecCutpointsState_Apr2024.csv
clipboard_health/nursing_homes_including_rehab_services_04_2024/NH_Ownership_Apr2024.csv
clipboard_health/nursing_homes_including_rehab_services_04_2024/NH_Penalties_Apr2024.csv
clipboard_health/nursing_homes_including_rehab_services_04_2024/NH_QualityMsr_Claims_Apr2024.csv
clipboard_health/nursing_homes_including_rehab_services_04_2024/NH_QualityMsr_MDS_Apr2024.csv
clipboard_health/nursing_homes_including_rehab_services_04_2024/NH_StateUSAverages_Apr2024.csv
clipboard_health/nursing_homes_including_rehab_services_04_2024/NH_SurveyDates_Apr2024.csv
clipboard_health/nursing_homes_including_rehab_services_04_2024/Skilled_Nursing_Facility_Quality_Reporting_Program_National_Data_Apr2024.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/NH_SurveySummary_Nov2024.csv
clipboard_health/nursing_homes_including_rehab_services_04_2024/NH_SurveySummary_Apr2024.csv
clipboard_health/nursing_homes_including_rehab_services_04_2024/readme.txt
clipboard_health/nursing_homes_including_rehab_services_04_2024/Skilled_Nursing_Facility_Quality_Reporting_Program_Provider_Data_Apr2024.csv
clipboard_health/nursing_homes_including_rehab_services_04_2024/Swing_Bed_SNF_data_Apr2024.csv
clipboard_health/nursing_homes_including_rehab_services_05_2024/FY_2024_SNF_VBP_Aggregate_Performance.csv
clipboard_health/nursing_homes_including_rehab_services_05_2024/FY_2024_SNF_VBP_Facility_Performance.csv
clipboard_health/nursing_homes_including_rehab_services_05_2024/NH_CitationDescriptions_May2024.csv
clipboard_health/nursing_homes_including_rehab_services_05_2024/NH_CovidVaxAverages_20240512.csv
clipboard_health/nursing_homes_including_rehab_services_05_2024/NH_CovidVaxProvider_20240512.csv
.ipynb_checkpoints/Nursing Staffing-checkpoint.ipynb
clipboard_health/nursing_homes_including_rehab_services_05_2024/NH_Data_Dictionary.pdf
clipboard_health/nursing_homes_including_rehab_services_05_2024/NH_DataCollectionIntervals_May2024.csv
clipboard_health/nursing_homes_including_rehab_services_05_2024/NH_FireSafetyCitations_May2024.csv
clipboard_health/nursing_homes_including_rehab_services_05_2024/NH_HealthCitations_May2024.csv
clipboard_health/nursing_homes_including_rehab_services_05_2024/NH_HlthInspecCutpointsState_May2024.csv
clipboard_health/nursing_homes_including_rehab_services_05_2024/NH_Ownership_May2024.csv
clipboard_health/nursing_homes_including_rehab_services_05_2024/NH_Penalties_May2024.csv
clipboard_health/nursing_homes_including_rehab_services_05_2024/NH_QualityMsr_Claims_May2024.csv
clipboard_health/nursing_homes_including_rehab_services_05_2024/NH_QualityMsr_MDS_May2024.csv
clipboard_health/nursing_homes_including_rehab_services_05_2024/NH_StateUSAverages_May2024.csv
clipboard_health/nursing_homes_including_rehab_services_05_2024/NH_SurveyDates_May2024.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/FY_2024_SNF_VBP_Aggregate_Performance.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/FY_2024_SNF_VBP_Facility_Performance.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/NH_CitationDescriptions_Jun2024.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/NH_CovidVaxAverages_20240609.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/NH_CovidVaxProvider_20240609.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/NH_Data_Dictionary.pdf
clipboard_health/nursing_homes_including_rehab_services_06_2024/NH_DataCollectionIntervals_Jun2024.csv
clipboard_health/nursing_homes_including_rehab_services_05_2024/NH_SurveySummary_May2024.csv
clipboard_health/nursing_homes_including_rehab_services_05_2024/readme.txt
clipboard_health/nursing_homes_including_rehab_services_05_2024/Skilled_Nursing_Facility_Quality_Reporting_Program_National_Data_May2024.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/FY_2024_SNF_VBP_Aggregate_Performance.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/NH_FireSafetyCitations_Jun2024.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/NH_HealthCitations_Jun2024.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/NH_HlthInspecCutpointsState_Jun2024.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/NH_Ownership_Jun2024.csv
clipboard_health/nursing_homes_including_rehab_services_05_2024/Swing_Bed_SNF_data_May2024.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/NH_Penalties_Jun2024.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/NH_QualityMsr_Claims_Jun2024.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/NH_QualityMsr_MDS_Jun2024.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/NH_StateUSAverages_Jun2024.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/NH_SurveyDates_Jun2024.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/NH_SurveySummary_Jun2024.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/pbj-nh-combo.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/readme.txt
clipboard_health/nursing_homes_including_rehab_services_06_2024/Skilled_Nursing_Facility_Quality_Reporting_Program_National_Data_Jun2024.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/Skilled_Nursing_Facility_Quality_Reporting_Program_Provider_Data_Jun2024.csv
clipboard_health/nursing_homes_including_rehab_services_06_2024/Swing_Bed_SNF_data_Jun2024.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/FY_2025_SNF_VBP_Aggregate_Performance.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/FY_2025_SNF_VBP_Facility_Performance.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/NH_CitationDescriptions_Nov2024.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/NH_CovidVaxAverages_20241208.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/NH_CovidVaxProvider_20241208.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/NH_Data_Dictionary.pdf
clipboard_health/nursing_homes_including_rehab_services_current_data/NH_DataCollectionIntervals_Nov2024.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/NH_FireSafetyCitations_Nov2024.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/NH_HealthCitations_Nov2024.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/NH_HlthInspecCutpointsState_Nov2024.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/NH_Ownership_Nov2024.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/NH_Penalties_Nov2024.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/NH_ProviderInfo_Nov2024.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/NH_QualityMsr_Claims_Nov2024.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/NH_QualityMsr_MDS_Nov2024.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/NH_StateUSAverages_Nov2024.csv
clipboard_health/nursing_homes_including_rehab_services_current_data/NH_SurveyDates_Nov2024.csv
data/PBJ_Daily_Nurse_Staffing_Q2_2024.csv